.sorting__title {
    font-family: 'Droid Sans';
    font-size: 16px;
    letter-spacing: 1.3px;
}

.sorting__button-money {
    background-color: white;
    border: none;
    font-family: 'Droid Sans';
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 15px;
}

.sorting__button-money--noactive {
    color: #585757;
}

.sorting__button-popularity {
    background-color: white;
    border: none;
    font-family: 'Droid Sans';
    font-size: 16px;
    letter-spacing: 1.2px;
    margin-left: 27px;
    margin-top: 1px;
}

.sorting__button-popularity--noactive {
    color: #585757;
}

.sorting__button-up {
    width: 22px;
    height: 22px;
    margin-left: 253px;
    background-color: white;
    border: none;
    // background-image: url('../../img/arrow-up.svg');
    background-color: black;
}

.sorting__button-up--noactive {
    background-color: grey;
}

.sorting__button-down {
    width: 22px;
    height: 22px;
    background-color: white;
    border: none;
    // background-image: url(../../img/arrow-down.svg);
    background-color: black;
    margin-left: 5px;
}

.sorting__button-down--noactive {
    background-color: grey;
}