@font-face {
    font-family: 'Droid Sans', 'Arial', sans-serif;
    src: url('../fonts/DroidSans.woff2') format('woff2'),
         url('../fonts/DroidSans.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Droid Sans bolt', 'Arial', sans-serif;
    src: url('../fonts/DroidSans-Bold.woff2') format('woff2'),
         url('../fonts/DroidSans-Bold.woff') format('woff');
    font-display: swap;
}
