@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans.woff2') format('woff2'),
         url('../fonts/DroidSans.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Droid Sans bolt';
    src: url('../fonts/DroidSans-Bold.woff2') format('woff2'),
         url('../fonts/DroidSans-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins.woff2') format('woff2'),
         url('../fonts/Poppins.woff') format('woff');
    font-display: swap;
}
