.filter__title {
    font-family: 'Droid Sans bolt', 'Arial', sans-serif;
    font-size: 18px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 29px;
    border-bottom: 0.7px solid #DDDADA;
}

.filter__money-subtitle {
    margin-top: 30px;
    font-family: 'Droid Sans bolt', 'Arial', sans-serif;
    font-size: 18px;
}

.filter__input-conteiner {
    display: flex;
    border-bottom: 0.7px solid #DDDADA;
    margin-top: 25px;
    padding-bottom: 29px;
    justify-content: space-between;
    position: relative;
}

.filter__money-input {
    width: 84px;
    height: 28px;
    border: 0.7px solid #9F9E9E;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    font-family: 'Droid Sans', 'Arial', sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.filter__type-subtitle {
    font-family: 'Droid Sans bolt', 'Arial', sans-serif;
    font-size: 18px;
    margin-top: 30px;
}

.filter__inputs-type {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    margin-left: 41px;
    justify-content: space-between;
    height: 91px;
}

.filter__input-type {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter__type-text {
    font-family: 'Droid Sans', 'Arial', sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    position: relative;
}

.filter__type-text:hover::before, .filter__type-text:focus::before {
    border: 0.7px solid #585757;
}

.filter__type-text:active::before {
    border: 0.7px solid #C1C1C1;
}

.filter__type-text::before {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    border: 0.7px solid #9F9E9E;
    box-sizing: border-box;
    border-radius: 2px;
    left: -41px;
    top: -2px;
}

.filter__type-text--active::before {
    background-image: url('../../img/check-active.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.filter__type-conteiner {
    border-bottom: 0.7px solid #DDDADA;
    padding-bottom: 32px;
}

.filter__amount-subtitle {
    font-family: 'Droid Sans bolt', 'Arial', sans-serif;
    font-size: 18px;
    margin-top: 30px;
}

.filter__inputs-amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 28px;
    height: 126px;
}

.filter__input-amount {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter__amount-text {
    font-family: 'Droid Sans', 'Arial', sans-serif;
    font-size: 16px;
    position: relative;
}

.filter__amount-text:hover::before, .filter__amount-text:focus::before {
    border: 0.7px solid #585757;
}

.filter__amount-text:active::before {
    border: 0.7px solid #C1C1C1;
}

.filter__amount-text::before {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    border: 0.7px solid #9F9E9E;
    box-sizing: border-box;
    border-radius: 2px;
    left: -41px;
    top: -2px;
}

.filter__amount-text--active::before {
    background-image: url('../../img/check-active.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.filter__button {
    margin-top: 42px;
    width: 120px;
    height: 30px;
    border: none;
    background: #C1C1C1;
    border-radius: 2px;
    font-family: 'Droid Sans bolt', 'Arial', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.filter__amount-text--disabled {
    color: #DDDDDD;
}

.filter__amount-text--disabled::before {
    background: #F7F3F3;
    border: 0.7px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 2px;
}

.filter__input-conteiner::before {
    content: '';
    background-image: url('../../img/line.svg');
    position: absolute;
    top: 13px;
    right: 94px;
    width: 17px;
    height: 1px;
    background-repeat: no-repeat;
}

.filter__input-label {
    position: relative;
}

.filter__input-amount, .filter__input-type {
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 2px;
    left: -41px;
    top: -2px;
}