.main {
    margin-top: 200px;
    margin-bottom: 133px;
}

.main__conteiner {
    display: grid;
    grid-template-columns: 208px 700px;
    grid-template-areas: 
        'filters sorting'
        'filters catalog';
    grid-column-gap: 32px;
    grid-row-gap: 29px;
    margin-left: 40px;
    margin-top: 49px;
}

.main__filter {
    grid-area: filters;
}

.main__sorting {
    grid-area: sorting;
}

.main__catalog {
    grid-area: catalog;
    display: grid;
    grid-template-columns: 220px 220px 220px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.main__title {
    font-family: 'Droid Sans bolt', 'Arial', sans-serif;
    font-size: 22px;
    line-height: 26px;
    margin-left: 40px;
    margin-top: 13px;
    margin-bottom: 20px;
}

.main__text {
    font-family: 'Droid Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
    margin-left: 42px;
    position: relative;
}

.main__text--arrow::before {
    content: '';
    position: absolute;
    background-image: url('../../img/arrow-right.svg');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    left: 72px;
    top: 3px;
}

.main__page-button {
    width: 24px;
    height: 24px;
    border: 0.7px solid #9F9E9E;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: 'Droid Sans', 'Arial', sans-serif;
    font-size: 12px;
    background-color: white;
    margin-left: 10px;
}

.main__page-button:hover, .main__page-button:focus, .main__page-button--next:hover, .main__page-button--next:focus, .main__page-button--back:hover, .main__page-button--back:focus {
    background: #585757;
    color: white;
}

.main__page-button:active .main__page-button--next:active, .main__page-button--back:active {
    background: #9F9E9E;
}

.main__page-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    margin-right: 40px;
}

.main__page-button--back, .main__page-button--next {
    width: 80px;
    height: 24px;
    background: #FFFFFF;
    border: 0.7px solid #9F9E9E;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: 'Droid Sans', 'Arial', sans-serif;
    font-size: 12px;
    letter-spacing: 0.05em;
}

.main__page-button--next {
    margin-left: 14px;
}

.main__page-button--back {
    margin-right: 14px;
}

.main__page-button--active {
    background: #585757;
    color: #FFFFFF;
    border: none;
}

.closePopup {
    background: rgba(88, 87, 87, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 1;
}

.openPopUp {
    overflow:  hidden;
}