.selected {
    position: relative;
    display: flex;
    height: 163px;
    border-bottom: 0.7px solid #DDDADA;
}

.selected__delete {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border: none;
    top: 20px;
    left: 1px;
    background-image: url('../../img/icon_cross.svg');
}

.selected__img {
    margin-left: 39px;
    margin-top: 16px;
    width: 60px;
    height: 136px;
}

.selected__info-conteiner {
    margin-left: 62px;
    width: 204px;
}

.selected__name {
    margin: 0;
    font-family: 'Droid Sans bolt', 'Arial', sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 19px;
}

.selected__text-container {
    display: flex;
    flex-direction: column;
    font-family: 'Droid Sans', 'Arial', sans-serif;
    font-size: 14px;
    letter-spacing: 1.3px;
    justify-content: space-between;
    height: 37px;
    margin-top: 11px;
}

.selected__price {
    font-family: 'Droid Sans', 'Arial', sans-serif;
    font-size: 20px;
    letter-spacing: 0.05em;
    margin-top: 74px;
    margin-left: 150px;
    white-space: nowrap;
    width: 80px;
}

.selected__buttons {
    margin-left: 93px;
    margin-top: 41px;
    display: flex;
}

.selected__button {
    width: 28px;
    height: 30px;
    border: 1px solid #9F9E9E;
    box-sizing: border-box;
    background-color: white;
}

.selected__number {
    display: block;
    width: 28px;
    height: 30px;
    text-align: center;
    border-top: 1px solid #9F9E9E;
    border-bottom: 1px solid #9F9E9E;
    box-sizing: border-box;
    padding-top: 6px;
    font-family: 'Droid Sans', 'Arial', sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #9F9E9E;
    border-left-width: 0px;
    border-right-width: 0px;
}

.selected__total {
    font-family: 'Droid Sans bolt', 'Arial', sans-serif;
    font-size: 20px;
    letter-spacing: 0.05em;
    margin-left: 86px;
    margin-top: 74px;
    white-space: nowrap;
}

.selected__conteiner {
    display: flex;
}

@media (min-width: 1021px) {
    .selected {
        justify-content: space-between;
    }
}